<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0GYYapxkrKQc6wcbYLsxrCDCXNI6-cCw</string>
	<key>GCM_SENDER_ID</key>
	<string>619456801030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.demo</string>
	<key>PROJECT_ID</key>
	<string>interview-demo-fc1ed</string>
	<key>STORAGE_BUCKET</key>
	<string>interview-demo-fc1ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619456801030:ios:44bdb160a8bc2dea201687</string>
</dict>
</plist>